<div class="wrapper wrapper-content animated fadeInRight  full-heighth">

  <div class="row">
    <div class="col-xs-4">
      <input type="text" class="form-control" name="name" [(ngModel)]="name" (change)="loadPlaces()" placeholder="Search">
    </div>
    <div class="col-xs-4">
      <input type="number" class="form-control" name="name" [(ngModel)]="mapSearchConfig.distance" (change)="loadPlaces()" placeholder="Search">
    </div>
    <div class="col-xs-4">
      <select>
        <option value>All</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1>{{ title }}</h1>
      <agm-map [latitude]="mapSearchConfig.latitude" [longitude]="mapSearchConfig.longitude" [zoom]="mapConfig.zoom" [clickableIcons]="mapConfig.clickableIcons"
        [disableDefaultUI]="mapConfig.disableDefaultUI" [disableDoubleClickZoom]="mapConfig.disableDoubleClickZoom" (mapClick)="onMapClick($event)">
        <agm-circle [latitude]="mapSearchConfig.latitude" [longitude]="mapSearchConfig.longitude" [radius]="mapSearchConfig.distance" [clickable]="false"></agm-circle>
        <agm-marker [latitude]="mapSearchConfig.latitude" [longitude]="mapSearchConfig.longitude" [iconUrl]="'assets/img/pin.svg'"></agm-marker>
        <agm-marker *ngFor="let place of places;" [latitude]="place.location.latitude" [title]="place.name" [longitude]="place.location.longitude">
          <agm-info-window>
            <h3>{{ place.name }}</h3>
            <section>Distance: {{ (place.distance).toFixed(2) }} m.</section>
            <section>Distance: {{ (place.distance).toFixed(2) }} m.</section>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
